{% extends 'layouts/blank.html' %} {% block content %}

<div class="max-w-6xl mx-auto p-12">
  <h1>Checkout</h1>
  <div class="md:grid grid-cols-3 gap-8">
    <div class="col-span-2">
      <form method="POST">
        {% csrf_token %}
        <div class="mb-12">
          <div class="flex flex-col gap-4">
            {{ form.email }} {{ form.phone }}
          </div>
        </div>

        <div>
          <h2>Delivery Address</h2>
          <div class="flex gap-6">
            <div class="w-1/2 mb-4">{{ form.first_name }}</div>
            <div class="w-1/2 mb-4">{{ form.last_name }}</div>
          </div>

          <div class="mb-4 flex flex-col gap-4">
            {{ form.address_line_one }} {{ form.address_line_two }}
          </div>

          <div class="flex gap-6">
            <div class="w-1/2 mb-4">{{ form.city }}</div>
            <div class="w-1/2 mb-4">{{ form.zipcode }}</div>
          </div>
        </div>
        <button type="submit">Confirm</button>
      </form>
    </div>
    <div>
      <div class="border rounded-lg shadow-md p-6">
        <div class="flex items-center justify-between mb-4">
          <div class="text-2xl">Sub total</div>
          <div>${{ cart.get_total_cost|floatformat:2 }}</div>
        </div>
        <div class="flex items-center justify-between mb-4">
          <span>Items:</span>
          <span>{{ cart|length }}</span>
        </div>
        <a
          href="{% url 'cart' %}"
          class="button button-gray !text-gray-600 !font-normal !py-2 !px-4 !shadow-none"
        >
          Back to Cart
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
