{% extends 'layouts/blank.html' %} {% block content %}

<div class="max-w-4xl mx-auto px-8 py-24">
  <div class="grid grid-cols-3 gap-6">
    <div class="col-span-2 rounded-xl">
      <img
        class="rounded-xl w-full h-auto"
        src="https://res.cloudinary.com/dpuzdancn/image/upload/f_auto,q_auto/v1/static/uekrd91rurs6jogdn5bu"
      />
    </div>
    <div class="pt-32">
      <h2>The OG Stack T-Shirt</h2>
      <p class="text-lg">$42.67</p>

      <form enctype="multipart/form-data" method="post" role="product_page">
        {% csrf_token %}
        <input type="hidden" name="price_id" value="" />
        <input type="hidden" name="quantity" value="1" />
        <button
          type="submit"
          class="!block !rounded-full !bg-black hover:!bg-neutral-500 active:scale-95 transition text-center !px-24"
          data-bind-href="pricing"
        >
          Buy
        </button>
      </form>

      <p class="pt-8 text-sm">
        The OG Stack T-Shirt is a classic accessory for every web developer who
        loves building web apps the simple and smart way, featuring the
        back-to-basics tech stack with Django, HTMX and TailwindCSS.
      </p>
      <p class="text-sm hover:underline">
        <a href="https://andreas-juds-store.creator-spring.com/" target="_blank"
          >Merch Store</a
        >
      </p>
    </div>
  </div>
</div>

{% endblock %}
